root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf
max_line_length = 140

[{Makefile,**.mk}]
indent_style = tab
max_line_length = off

[*.{ts,tsx,js,jsx,json,css,scss,yml,yaml}]
indent_size = 2

[*.{md,json}]
trim_trailing_whitespace = false
max_line_length = off
