<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "https://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <!-- Configure checker to use UTF-8 encoding -->
    <property name="charset" value="UTF-8" />
    <!-- Configure checker to run on files with these extensions -->
    <property name="fileExtensions" value="" />
    <!-- For detailed checkstyle configuration, see https://github.com/spring-io/nohttp/tree/master/nohttp-checkstyle -->
    <module name="io.spring.nohttp.checkstyle.check.NoHttpCheck">
        <property name="whitelist" value="http://maven.apache.org/POM/4.0.0&#10;
            http://www.w3.org/2001/XMLSchema-instance&#10;http://maven.apache.org/maven-v4_0_0.xsd" />
    </module>
    <module name="NewlineAtEndOfFile" />
    <module name="TreeWalker">
        <module name="EmptyLineSeparator" />
        <module name="GenericWhitespace" />
        <module name="AvoidNoArgumentSuperConstructorCall" />
        <module name="StringLiteralEquality" />
        <module name="UnusedImports" />
        <module name="EmptyCatchBlock" />
        <module name="WhitespaceAround" />
        <module name="NeedBraces" />
        <module name="InnerTypeLast" />
        <module name="InterfaceIsType" />
        <module name="DeclarationOrder" />
        <module name="EqualsAvoidNull" />
        <module name="IllegalType" />
        <module name="MissingSwitchDefault" />
        <module name="NestedForDepth" />
        <module name="NestedTryDepth" />
        <module name="OneStatementPerLine" />
        <module name="UnnecessaryParentheses" />
        <module name="VariableDeclarationUsageDistance" />
        <module name="StaticVariableName" />
        <module name="TypeName">
            <property name="format" value="^_?[A-Z][a-zA-Z0-9]*$" />
        </module>
    </module>
    <module name="FileTabCharacter" />
    <module name="RegexpMultiline">
        <property name="format" value="^([^\n ]+ )*(class|interface|enum)[^{]*\{.*(\r\n|\n)[^(\r\n|\n)}]" />
        <property name="message" value="Leave empty row after class/interface/enum definition!" />
        <property name="severity" value="error" />
        <property name="fileExtensions" value="java" />
    </module>
    <module name="FileLength">
        <property name="max" value="3000" />
        <property name="fileExtensions" value="java" />
    </module>
    <!-- Allow suppression with comments
       // CHECKSTYLE:OFF
       ... ignored content ...
       // CHECKSTYLE:ON
    -->
    <module name="SuppressWithPlainTextCommentFilter" />
</module>
