spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/typo-reporter
    username: developer
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        generate_statistics: true
        use_sql_comments: true
        format_sql: true
  thymeleaf:
    cache: false
  liquibase:
    contexts: dev
  mvc:
    hiddenmethod:
      filter:
        enabled: true
logging:
  level:
    root: INFO
    web: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.springframework.security: TRACE
    org:
      springframework:
        web:
          client:
            RestTemplate: DEBUG
        security:
          oauth2: TRACE
    io.hexlet.typoreporter: DEBUG
server:
  error:
    include-stacktrace: on_param
