<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:text="#{profile.account}">title</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{fragments/head-styles}">
</head>
<body class="d-flex flex-column h-100">
<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Main -->
<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="/profile" class="nav-link active" th:text="#{profile.account}">account</a>
                    </li>
                </ul>
                <hr class="my-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="/profile/settings" class="nav-link" th:text="#{profile.settings}">settings</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-10">
                <h1 th:text="${account.getName()}">name</h1>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
