/*------------total---------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: 24px
}

.hc-shadow {
  border: 1px solid rgba(0, 0, 0, .07);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .075);
}

.hc-red {
  color: red;
}

@keyframes add-popup {
  from{
    opacity: 0;
    visibility: hidden;
  }
  to{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes add-iframe {
  from{
    opacity: 0;
    transform: translate(0, -30%);
  }
  to{
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

/*------------popup---------------*/
.hc-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  font-family: sans-serif;
  color: #212529;
  overflow-x: hidden;
  overflow-y: auto;
  animation-name: add-popup;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.hc-popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.hc-popup__content {
  position: relative;
  margin-bottom: 5px;
  padding: 30px;
  background-color: #fff;
  border-radius: 2px;
}

.hc-popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  cursor: pointer;
}

.hc-popup__title {
  font-size: 24px;
  margin: 0 0 16px 0;
}
.hc-popup__desc {
  font-size: 22px;
}

.hc-popup__iframe {
  display: flex;
  justify-content: center;
  animation-name: add-iframe;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.hc-iframe{
  display: flex;
  justify-content: center;
  min-width: 45vw;
  margin-bottom: -12px;
  border: none;
  overflow: hidden;
}

/*------------form---------------*/
.hc-total-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  letter-spacing: 1.1px;
  overflow: hidden;
}

.hc-total-form__input {
  min-width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #f8f8f8;
  border: none;
  border-radius: 2px;
}
.hc-total-form__input:focus {
  outline: none;
}

.hc-total-form__res {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.hc-total-form__text {
  padding: 10px;
  font-size: 16px;
  background: #f8f8f8;
}

.text-typo {
  font-weight: bold;
  text-decoration: underline;
}

.hc-total-form__btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.hc-btn {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 2px;
}

.hc-btn-primary {
  background: #0d6efd;
  color: #ffffff;
}

.hc-btn-primary:hover {
  background: transparent;
  color: #0d6efd;
  outline: 1px solid #0d6efd;
}

.hc-btn-secondary {
  background: #adb5bd;
  color: #212529;
}

.hc-btn-secondary:hover {
  background: transparent;
  outline: 1px solid #adb5bd;
}
