<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<form class="hc-total-form" method="POST" th:action="@{/typo/form/{name}(name=${wksName})}"
      th:object="${typoReport}">
    <input class="hc-total-form__input" hidden id="pageUrl" name="pageUrl" type="text"/>
    <input class="hc-total-form__input" hidden id="reporterName" name="reporterName" type="text"/>
    <input class="hc-total-form__input" hidden id="textBeforeTypo" name="textBeforeTypo"
    type="text">
    <div class="hc-total-form__res">
        <span class="hc-popup__desc">Ошибка содержится в следующем тексте:</span>
        <div class="hc-total-form__text"><span class="text-before-typo">fff </span><span class="text-typo">fff </span><span class="text-after-typo">fff </span></div>
    </div>
    <label for="textTypo">
        <span class="hc-popup__desc">Выделенный текст:</span>
        <input class="hc-total-form__input" id="textTypo" name="textTypo" type="text"/>
    </label>
    <label for="textAfterTypo">
        <span class="hc-popup__desc">Текст после исправления:</span>
        <input class="hc-total-form__input" id="textAfterTypo" name="textAfterTypo" type="text"/>
    </label>
    <div class="form-floating mb-3">
        <label class="form-label" for="commentTextarea">
            <span class="hc-popup__desc">Оставить дополнительный комментарий:</span>
            <textarea class="hc-total-form__input shadow form-control"
                      id="commentTextarea"
                      rows="3"
                      th:classappend="${!#fields.hasErrors('reporterComment') && formModified ? 'is-valid' : ''}"
                      th:field="*{reporterComment}"
                      type="text"
            ></textarea></label>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('reporterComment')}">
            <p th:each="err : ${#fields.errors('reporterComment')}" th:text="${err}"></p>
        </div>
    </div>
    <div class="hc-total-form__btns">
        <button class="hc-btn hc-btn-primary" type="submit">Отправить</button>
        <button class="hc-btn hc-btn-secondary">Отмена</button>
    </div>
</form>
<script th:inline="javascript">
    window.onload = () => {
        const successMsg = {
            health: {
                code: 0,
                message: 'Loading Complete',
            },
        };
        const trustedOrigin = [[${trustedOrigin}]];

        try {
            const parent = window.top;
            if (parent != null && !parent.closed) {
                parent.postMessage(JSON.stringify(successMsg), trustedOrigin);
            } else {
                console.log('Could not message parent. Parent not found');
            }
        } catch (e) {
            console.log('Could not message parent. Error', e);
        }
    };
</script>
</body>
</html>
