<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body style="padding-top: 4.5rem">
<nav th:replace="~{fragments/panels :: mainNavbarTop}"></nav>
<main class="container-fluid">
    <div class="row">
        <div class="col-2" th:insert="fragments/panels :: workspaceSideBar (${wksName}, 'settings')"></div>
        <div class="col">
            <div class="row my-3"
                 th:if="${sumTypoInWks} > 0"
                 th:insert="~{fragments/workspace :: wksProgressBar (${sumTypoInWks}, ${countTypoByStatus})}"></div>
            <div class="row">
                <p th:text="|Total number of typos in workspace ${wksName} : ${sumTypoInWks}|"></p>
            </div>
            <div class="row"
                 th:if="${lastTypoCreatedDateAgo.isPresent() && lastTypoCreatedDate.isPresent()}"
                 th:insert="~{fragments/workspace :: wksLastTypoDate (${lastTypoCreatedDateAgo}, ${lastTypoCreatedDate})}"></div>
            <div class="row my-2">
                <div aria-label="Re-generate workspace authentication token" class="col">
                    <form th:action="@{'/workspace/' + ${wksName} + '/token/regenerate'}" th:method="patch">
                        <button class="btn btn-danger" type="submit">Regenerate Token</button>
                    </form>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <p>Workspace API access token: <code th:text="${wksBasicToken ?: '<Token not generated>'}"></code></p>
                    <p>You shall use header: <code>Authorization: Basic [[${wksBasicToken}]]</code></p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <p class="fw-bold">Example with <code>curl</code> for your workspace:</p>
                    <pre><code>
curl -X POST --location "[[${rootUrl}]]/api/workspaces/[[${wksId}]]/typos" \
-H "Content-Type: application/json" \
-H "Authorization: Basic [[${wksBasicToken}]]" \
-d "{
        \"pageUrl\": \"https://site.com/\",
        \"reporterName\": \"reporterName\",
        \"reporterComment\": \"reporterComment\",
        \"textBeforeTypo\": \"textBeforeTypo\",
        \"textTypo\": \"textTypo\",
        \"textAfterTypo\": \"textAfterTypo\"
    }"
                    </code></pre>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: foot}"></footer>
</body>
</html>
