<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head}"></head>
<body style="padding-top: 4.5rem">
<nav th:replace="~{fragments/panels :: mainNavbarTop}"></nav>
<main class="container-fluid">
    <div class="row">
        <!-- Workspace Side Bar -->
        <div class="col-2" th:include="fragments/panels :: workspaceSideBar (${wksInfo.id()}, ${wksName}, 'typos')"></div>
        <div class="col">
            <!-- Workspace progress typo bar -->
            <div class="row my-3"
                 th:if="${sumTypoInWks} > 0"
                 th:insert="~{fragments/workspace :: wksProgressBar (${sumTypoInWks}, ${countTypoByStatus})}"></div>
            <!-- Workspace number of typo -->
            <div class="row">
                <p th:text="|#{text.number-of-typos(${wksName}, ${sumTypoInWks})}|"></p>
            </div>
            <!-- Workspace last typo date -->
            <div class="row"
                 th:if="${lastTypoCreatedDateAgo.isPresent() && lastTypoCreatedDate.isPresent()}"
                 th:insert="~{fragments/workspace :: wksLastTypoDate (${lastTypoCreatedDateAgo}, ${lastTypoCreatedDate})}"></div>
            <!-- Workspace typo page -->
            <div class="row">
                <main class="col">
                    <div class="row">
                        <!-- Page filtration -->
                        <div class="col-2">
                            <div class="dropdown">
                                <button aria-expanded="false"
                                        class="btn dropdown-toggle"
                                        th:classappend="typoStatus == null ? btn-secondary : |btn-${typoStatusStyle}|"
                                        data-bs-toggle="dropdown"
                                        id="dropdownFilter"
                                        th:text="${typoStatus} == null ? #{btn.page-empty-filter} : #{${#strings.replace(typoStatus, '_', ' ')}}"
                                        type="button">
                                </button>
                                <ul aria-labelledby="dropdownFilter" class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                           th:classappend="(${typoStatus} == null ? 'disabled' : '')"
                                           th:href="@{'/workspace/' + ${wksId} + '/typos'(page=0,size=${typoPage.size},sort=|${sortProp},${sortDir}|)}"
                                           th:text="#{btn.page-empty-filter}">
                                        </a>
                                    </li>
                                    <li th:each="status : ${availableStatuses}">
                                        <a class="dropdown-item"
                                           th:classappend="(${typoStatus} == ${#strings.replace(status, ' ', '_')} ? 'disabled' : '')"
                                           th:href="@{'/workspace/' + ${wksId} + '/typos'(page=0,size=${typoPage.size},sort=|${sortProp},${sortDir}|, typoStatus=${#strings.replace(status, ' ', '_')})}"
                                           th:text="#{${status}}">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Page size dropdown -->
                        <div class="col-3">
                            <div class="dropdown">
                                <button aria-expanded="false"
                                        class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        id="dropdownSizePage"
                                        th:text="|#{btn.page-size} ${typoPage.size}|"
                                        type="button">
                                </button>
                                <ul aria-labelledby="dropdownSizePage" class="dropdown-menu">
                                    <li th:each="availableSize : ${availableSizes}">
                                        <a class="dropdown-item"
                                           th:classappend="(${typoPage.size} == ${availableSize} ? 'disabled' : '')"
                                           th:href="${typoStatus} != null ?
                                                @{'/workspace/' + ${wksId} + '/typos'(page=0,size=${availableSize},sort=|${sortProp},${sortDir}|, typoStatus=${typoStatus})}
                                                : @{'/workspace/' + ${wksId} + '/typos'(page=0,size=${availableSize},sort=|${sortProp},${sortDir}|)}"
                                           th:text="${availableSize}">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <!-- Page pagination -->
                        <div class="col-sm-6">
                            <ul class="pagination" sd:pagination="full"></ul>
                        </div>
                    </div>
                    <!-- Workspace typo table -->
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <!-- Workspace typo table head -->
                                <thead th:object="${typoPage}">
                                <tr>
                                    <th scope="col">
                                        <a class="btn btn-light"
                                           th:href="${typoStatus} != null ?
                                                @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|pageUrl,${sortProp == 'pageUrl' && sortDir.isAscending() ? DESC : ASC}|, typoStatus=${typoStatus})}
                                                : @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|pageUrl,${sortProp == 'pageUrl' && sortDir.isAscending() ? DESC : ASC}|)}">
                                            <span th:text="#{url-page}"></span> <span th:if="${sortProp == 'pageUrl'}">[[${sortDir.isAscending() ? '&uArr;' : '&dArr;'}]]</span>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a class="btn btn-light"
                                           th:href="${typoStatus} != null ?
                                                @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|reporterName,${sortProp == 'reporterName' && sortDir.isAscending() ? DESC : ASC}|, typoStatus=${typoStatus})}
                                                : @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|reporterName,${sortProp == 'reporterName' && sortDir.isAscending() ? DESC : ASC}|)}">
                                            <span th:text="#{reporter-name}"></span> <span th:if="${sortProp == 'reporterName'}">[[${sortDir.isAscending() ? '&uArr;' : '&dArr;'}]]</span>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a class="btn btn-light"
                                           th:href="${typoStatus} != null ?
                                                @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|createdDate,${sortProp == 'createdDate' && sortDir.isAscending() ? DESC : ASC}|, typoStatus=${typoStatus})}
                                                : @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|createdDate,${sortProp == 'createdDate' && sortDir.isAscending() ? DESC : ASC}|)}">
                                            <span th:text="#{date.created}"></span> <span th:if="${sortProp == 'createdDate'}">[[${sortDir.isAscending() ? '&uArr;' : '&dArr;'}]]</span>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a class="btn btn-light"
                                           th:href="${typoStatus} != null ?
                                                @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|modifiedDate,${sortProp == 'modifiedDate' && sortDir.isAscending() ? DESC : ASC}|, typoStatus=${typoStatus})}
                                                : @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|modifiedDate,${sortProp == 'modifiedDate' && sortDir.isAscending() ? DESC : ASC}|)}">
                                            <span th:text="#{date.modified}"></span> <span  th:if="${sortProp == 'modifiedDate'}">[[${sortDir.isAscending() ? '&uArr;' : '&dArr;'}]]</span>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a class="btn btn-light"
                                           th:href="${typoStatus} != null ?
                                                @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|modifiedBy,${sortProp == 'modifiedBy' && sortDir.isAscending() ? DESC : ASC}|, typoStatus=${typoStatus})}
                                                : @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|modifiedBy,${sortProp == 'modifiedBy' && sortDir.isAscending() ? DESC : ASC}|)}">
                                            <span th:text="#{modified-by}"></span> <span th:if="${sortProp == 'modifiedBy'}">[[${sortDir.isAscending() ? '&uArr;' : '&dArr;'}]]</span>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a class="btn btn-light"
                                           th:href="${typoStatus} != null ?
                                                @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|typoStatus,${sortProp == 'typoStatus' && sortDir.isAscending() ? DESC : ASC}|, typoStatus=${typoStatus})}
                                                : @{'/workspace/' + ${wksId} + '/typos'(size=*{size},sort=|typoStatus,${sortProp == 'typoStatus' && sortDir.isAscending() ? DESC : ASC}|)}">
                                            <span th:text="#{typo-status}"></span> <span th:if="${sortProp == 'typoStatus'}">[[${sortDir.isAscending() ? '&uArr;' : '&dArr;'}]]</span>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="typoInfo : ${typoPage.content}" th:object="${typoInfo}">
                                    <!-- Workspace typo table row -->
                                    <tr aria-expanded="false" class="accordion collapsed" data-bs-toggle="collapse"
                                        th:aria-controls="|collapseTypoRowId_*{id}|"
                                        th:classappend="|table-*{typoStatus.getStyle}|"
                                        th:data-bs-target="|#collapseTypoRowId_*{id}|">
                                        <td th:text="*{pageUrl}"></td>
                                        <td th:text="*{reporterName}"></td>
                                        <td th:text="*{createdDateAgo}"></td>
                                        <td th:text="*{modifiedDateAgo}"></td>
                                        <td th:text="*{modifiedBy} != ${wksInfo.id} ? *{modifiedBy} : ''"></td>
                                        <td th:text="#{*{typoStatus}}"></td>
                                    </tr>
                                    <!-- Workspace typo table row collapsed part -->
                                    <tr>
                                        <td class="p-0" colspan="7">
                                            <div class="accordion-collapse collapse" th:id="|collapseTypoRowId_*{id}|"
                                            th:with="searchUri=${typoStatus} != null ?
                                                        @{'/typos?'(page=${typoPage.pageable.getPageNumber()},size=${typoPage.size},sort=${sortProp} + ',' + ${sortDir}, typoStatus=${typoStatus})}
                                                        : @{'/typos?'(page=${typoPage.pageable.getPageNumber()},size=${typoPage.size},sort=${sortProp} + ',' + ${sortDir})}">
                                                <div class="p-4">
                                                    <div class="row mb-2">
                                                        <!-- Workspace typo table row change status buttons -->
                                                        <div class="col-11">
                                                            <div aria-label="Change typo status button group"
                                                                 class="btn-group"
                                                                 role="group">
                                                                <form
                                                                    th:action="@{|/typos/*{id}/status?wksId=${wksId}&event=${event}|(next=${searchUri})}"
                                                                    th:each="event : *{typoStatus.getValidEvents()}"
                                                                    th:method="patch">
                                                                    <button class="btn me-1"
                                                                            th:classappend="|btn-${event.getStyle()}|"
                                                                            th:text="#{|btn.${event.getButtonName()}|}"
                                                                            type="submit">
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- Workspace typo table row delete buttons -->
                                                        <div class="col-1">
                                                            <form th:action="@{'/typos/' + *{id}(wksId=${wksId},next=${searchUri})}"
                                                                  th:method="delete">
                                                                <button class="btn btn-danger" type="submit" th:text="#{btn.delete}">
                                                                    Delete
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <p>
                                                                <span th:text="|#{text.created-at}|"/>
                                                                <!-- The text will be overwritten by time-converter.js unless JS is disabled -->
                                                                <span th:text="*{#temporals.format(createdDate, 'dd/MM/yyyy HH:mm:ss')}" th:data-original-date="*{createdDate}"/>
                                                            </p>
                                                            <p>
                                                                <span th:text="|#{text.modified-at}|"/>
                                                                <!-- The text will be overwritten by time-converter.js unless JS is disabled -->
                                                                <span th:text="*{#temporals.format(modifiedDate, 'dd/MM/yyyy HH:mm:ss')}" th:data-original-date="*{modifiedDate}"/>
                                                            </p>
                                                            <hr>
                                                            <p class="fst-italic"
                                                               th:text="|#{text.reported-by} *{reporterName}: *{reporterComment}|"></p>
                                                            <hr>
                                                            <p class="text-muted">
                                                                [[*{textBeforeTypo}]]<span class="text-danger">[[*{textTypo}]]</span>[[*{textAfterTypo}]]
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</main>
</body>
</html>
