<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="foot" class="bg-dark text-light fixed-bottom">
        <div class="container-xl">
            <div class="row justify-content-lg-around">
                <div class="col-sm-6 col-md-3 col-lg-auto">
                    <a class="text-dark px-0 py-0 text-decoration-none " href="https://ru.hexlet.io">
                        <p class="h3 mb-2 text-light">© Hexlet</p>
                    </a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://sicp.hexlet.io/ru/pages/about">
                                О проекте
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://github.com/Hexlet/hexlet-correction"
                               target="_blank">
                                Исходный код
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://t.me/hexletcommunity/12"
                               target="_blank">
                                Telegram Hexlet канал Волонтеры
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-auto">
                    <p class="h5 mb-3">Помощь</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://ru.hexlet.io/blog">
                                Блог
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://ru.hexlet.io/knowledge">
                                База знаний
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light"
                               href="https://ru.hexlet.io/pages/recommended-books">
                                Рекомендуемые книги
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-auto">
                    <p class="h5 mb-3">Другие open-source проекты</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://github.com/Hexlet/hexlet-cv">
                                Хекслет-резюме
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://github.com/Hexlet/hexlet-editor">
                                Хекслет-редактор
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://github.com/Hexlet/hexlet-friends">
                                Друзья Хекслета
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-auto">
                    <p class="h5 mb-3">Дополнительно</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://ru.code-basics.com/">
                                Code Basics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://codebattle.hexlet.io/">
                                Кодбаттл
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-1 text-light" href="https://guides.hexlet.io/">
                                Гайды Хекслета
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>