<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="ru">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" th:fragment="header">
    <a href="/" class="navbar-brand" th:text="#{common.header.title}">Hexlet Corrections</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#" id="accountsDropdown"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{account.header.all}"></a>
                <div class="dropdown-menu" aria-labelledby="accountsDropdown">
                    <a class="dropdown-item" th:href="@{/accounts/}" th:text="#{account.header.list}"></a>
                    <a class="dropdown-item" th:href="@{/accounts/new}" th:text="#{account.action.new}"></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#" id="correctionsDropdown"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="#{correction.header.all}"></a>
                <div class="dropdown-menu" aria-labelledby="correctionsDropdown">
                    <a class="dropdown-item" th:href="@{/corrections/}" th:text="#{correction.header.list}"></a>
                    <a class="dropdown-item" th:href="@{/corrections/new}" th:text="#{correction.action.new}"></a>
                </div>
            </li>
        </ul>
        <div class="dropdown-menu" aria-labelledby="accountsDropdown">
            <a class="dropdown-item" th:href="@{/accounts/}" th:text="#{account.header.list}"></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a href="/profile" class="nav-link"
                       th:classappend="${module == 'profile' ? 'active' : ''}"
                       th:text="#{common.header.profile}">profile</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="nav-link"
                       th:classappend="${module == 'login' ? 'active' : ''}"
                       th:text="#{common.header.login}">login</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a href="/registration" class="nav-link"
                       th:classappend="${module == 'registration' ? 'active' : ''}"
                       th:text="#{common.header.registration}">registration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
