<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" th:fragment="header">
    <a href="/" class="navbar-brand">Hexlet Corrections</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login"
                   th:classappend="${module == 'login' ? 'active' : ''}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration"
                   th:classappend="${module == 'registration' ? 'active' : ''}">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>
</body>
