<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body style="padding-top: 4.5rem">
<nav th:replace="~{fragments/panels :: mainNavbarTop}"></nav>
<main class="container" th:object="${accInfo}">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title mb-1">General</h5>
            <div class="row mb-1">
                <div class="col">FirstName</div>
                <div class="col" th:text="*{firstName}"></div>
            </div>
            <div class="row mb-1">
                <div class="col">LastName</div>
                <div class="col" th:text="*{lastName}"></div>
            </div>
            <div class="row mb-1">
                <div class="col">Username</div>
                <div class="col" th:text="*{username}"></div>
            </div>
            <div class="row mb-3">
                <div class="col">Email</div>
                <div class="col" th:text="*{email}"></div>
            </div>
            <a class="btn btn-primary" th:href="@{/account/update}">Edit</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title mb-3">Password</h5>
            <a class="btn btn-primary" th:href="@{/account/password}">Edit</a>
        </div>
    </div>
    <h5 class="card-title mb-1">Workspaces</h5>
    <table class="table table-bordered table-hover mt-3">
        <thead>
        <tr>
            <th class="col-1">Workspace name</th>
            <th class="col-1">Workspace URL</th>
            <th class="col-1">Workspace description</th>
            <th class="col-1">Username</th>
            <th class="col-1">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workspaceRoleInfo : ${workspaceRoleInfoList}" th:object="${workspaceRoleInfo}">
            <td th:text="*{workspaceName}"></td>
            <td th:text="*{workspaceUrl}"></td>
            <td th:text="*{workspaceDescription}"></td>
            <td th:text="*{username}"></td>
            <td th:text="*{role}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{fragments/footer :: foot}"></footer>
</body>
</html>
