<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="mx-auto mt-5">
        <main class="p-3">
            <div class="container p-0">
                <h1 class="my-4" th:text="#{text.about-header}"></h1>
                <p class="display-6" th:text="#{text.about-welcome}"></p>
                <p th:text="#{text.about-description}"></p>
                <p th:inline="text">[[#{text.about-community}]] <a href="https://t.me/hexletcommunity/12">telegram</a>
                </p>
            </div>
        </main>
    </div>
</div>
</html>
