<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: head}"></head>
<body>
    <div class="d-flex flex-column" style="min-height: 100vh">
        <nav th:replace="~{fragments/panels :: mainNavbarTop}"></nav>

        <main layout:fragment="content" class="main-content container"></main>

        <footer th:replace="~{fragments/footer :: mainFooter}"></footer>
    </div>
</body>
</html>
