<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid d-flex flex-column p-0 m-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light mb-5 mt-0">
        <div class="container-fluid">Hexlet Typo Reporter</div>
    </nav>
    <div class="bg-light mx-auto mt-0">
        <main class="bg-light p-3">
            <h1 class="display-1">Hexlet Typo Reporter</h1>
            <p class="display-6">Сервис для отправки сообщений об ошибках в тексте на Вашем сайте</p>
            <div class="row">
                <div class="d-flex justify-content-evenly m-3 border">
                    <img alt="modal window example" class="w-70" src="" th:src="@{img/landing/typo-form-screen.png}" />
                    <p class="fs-4 m-2 p-2">
                        Добавьте на страницу <b>виджет</b>, через который пользователи смогут сообщать об опечатках
                    </p>
                </div>
                <div class="d-flex justify-content-evenly m-3 border">
                    <div class="fs-4 m-2 p-2">
                        <p>Отслеживайте ошибки и их <b>статус</b></p>
                        <a class="btn btn-primary border" th:href="@{/workspaces}">Перейти в сервис</a>
                    </div>
                    <img alt="app screenshot with typo statuses" class="w-50" src=""
                         th:src="@{img/landing/typo-info-screen.png}" />
                </div>
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: mainFooter}"></footer>
    </div>
</div>
</body>
</html>
