<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/utils :: simple-head}"></head>
<body>
<!-- Header -->
<div th:replace="~{fragments/utils :: header}"></div>
<!-- Main -->
<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <h1>Content container</h1>
        </div>
        <div class="row" id="react-app"></div>
    </div>
</main>
<div th:include="~{fragments/utils :: scripts}"></div>
<script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
<script type="text/javascript" th:src="@{/dist/app-bundle.js}"></script>
</body>
</html>
