<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hexlet Corrections | Войти</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="fragments/head-styles">
</head>
<body class="d-flex flex-column h-100">
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<!-- Main -->
<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 mx-auto">
                <h1>Войти</h1>
                <form class="new_user" id="new_user" action="#" accept-charset="UTF-8" method="post">
                    <div class="form-group">
                        <label for="user_email">Email</label>
                        <input autofocus="autofocus" autocomplete="email" class="form-control" type="email"
                               name="email" id="user_email">
                    </div>
                    <div class="form-group">
                        <label for="user_password">Пароль</label>
                        <input autocomplete="current-password" class="form-control" type="password"
                               name="password" id="user_password">
                    </div>
                    <div class="form-group form-check">
                        <input name="remember_me" type="hidden" value="0">
                        <input class="form-check-input" type="checkbox" value="1" name="remember_me" id="user_remember_me">
                        <label class="form-check-label" for="user_remember_me">Запомнить меня</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="commit" value="Войти" class="btn btn-primary"
                               data-disable-with="Войти">
                    </div>
                </form>
                <div class="form-group">
                    <a href="/registration">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
