<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="padding-top: 3.5rem">
<nav th:replace="fragments/panels :: mainNavbarTop"></nav>
<section class="vh-100">
    <div class="container w-50 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black border-dark" style="border-radius: 25px; border-width: 2px">
                    <div class="card-body p-md-5">
                        <div class="form-container">
                            <form action="#" th:object="${accountLogin}" th:action="@{/signin}"
                                  method="post">
                                <h3 style="text-align: center">Sign in</h3>
                                <div class="form-row text-center mb-2">
                                    <div class="col-12">
                                        <a href="#" class="social"><i class="fab fa-github fa-2x"
                                                                      style="color: #333333"></i></a>
                                    </div>
                                    <span>or use your account</span>
                                </div>
                                <div class="row g-3">
                                    <input type="email" id="accountEmail" th:field="*{email}"
                                           class="form-control" th:errorclass="is-invalid"
                                           placeholder="E-mail" aria-describedby="emailBlock"/>
                                    <span id="emailBlock" class="form-text text-warning" th:if="${#fields.hasErrors('email')}"
                                          th:errors="*{email}"></span>
                                    <span class="form-text" th:unless="${#fields.hasErrors('email')}">Email should be valid</span>
                                    <input type="password" id="accountPassword" th:field="*{password}"
                                           class="form-control" th:errorclass="is-invalid"
                                           placeholder="Password" aria-describedby="passwordBlock"/>
                                    <span id="passwordBlock" class="form-text text-warning" th:if="${#fields.hasErrors('password')}"
                                          th:errors="*{password}"></span>
                                    <span class="form-text" th:unless="${#fields.hasErrors('password')}">Size must be between 8 and 30 characters</span>
                                    <button class="btn btn-outline-dark" type="submit">Sign In</button>
                                    <div class="text-center">
                                        <p>Not a member? <a href="/signup">Register</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
