<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body style="padding-top: 4.5rem">
<nav th:replace="~{fragments/panels :: mainNavbarTop}"></nav>
<main class="container">
<div class="row">
    <div class="col">
        <div class="invalid-feedback" role="alert" th:if="${param.error}" th:text="#{alert.bad-credential}"></div>
        <div class="alert alert-warning" role="alert" th:if="${param.logout}" th:text="#{alert.logout}"></div>
        <form method="post" th:action="@{/login}">
            <div class="form-floating mb-3">
                <input autofocus class="form-control" id="inputEmail"
                       name="email" placeholder="Email" required type="text">
                <label for="inputEmail" th:text="#{email}"></label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputPassword" name="password"
                       placeholder="Password" required type="password">
                <label for="inputPassword" th:text="#{password}"></label>
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{btn.login}"></button>
        </form>
    </div>
</div>
<div class="row">
    <div class="mt-4">
        <a class="link-primary" th:href="@{/signup}" th:text="#{link.signup}"></a>
        <br>
        <a class="link-primary" href="/oauth2/authorization/github" th:text="#{link.sign-in-with-github}"></a>
    </div>
</div>
</main>

</body>
</html>
