<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
  <title>Type report</title>
</head>
<body>
  <form>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Сообщите об ошибке на странице</h5>
          <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="fw-normal mb-3">Ошибка содержится в следующем тексте:</h6>
          <div class="p-4 mb-3 bg-light text-dark"><h6 id="typoText" class="bg-warning p-2">...</h6></div>
          <textarea class="form-control mb-3" id="correctedText" rows="3" required placeholder="Введите исправленный текст"></textarea>
          <h6 class="fw-normal mb-3">Комментарий:</h6>
          <textarea class="form-control mb-3" id="commentText" rows="2" required placeholder="Оставить дополнительный комментарий"></textarea>
          <h6 class="fw-normal">Отправить сообщение об ошибке редактору сайта?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancelBtn" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" id="sendTypoBtn" class="btn btn-primary" disabled>Отправить</button>
        </div>
      </div>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./assets/js/jquery-3.6.1.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/reportTypo.js"></script>
</body>
</html>