<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div th:if="${#lists.isEmpty(wksInfoList)}">
        <div class="container-fluid px-4 py-5 my-5 text-center">
            <div class="lc-block mb-4">
                <h2 class="display-4 fw-bold" th:inline="text">
                    [[#{text.hero-header}]]
                    <span class="text-primary" th:text="#{text.hero-highlight}" />
                </h2>
            </div>
            <div class="lc-block col-lg-6 mx-auto mb-5">
                <p class="lead" th:text="#{text.hero-description}"></p>
            </div>
            <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a class="btn btn-primary btn-lg px-4 gap-3 mx-2" th:href="@{/workspace}" th:text="#{btn.get-started}" role="button"></a>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="wksInfo : ${wksInfoList}" th:object="${wksInfo}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{name}"></h5>
                    <p class="card-text" th:text="*{description}"></p>
                </div>
                <div class="card-footer bg-white border-top-0">
                    <a class="card-link" th:href="@{'/workspace/' + *{id}}" th:text="#{wks.info}"></a>
                    <a class="card-link" th:href="@{'/workspace/' + *{id} + '/typos'(typoStatus=REPORTED)}" th:text="#{wks.typos}"></a>
                    <a class="card-link" th:href="@{'/workspace/' + *{id} + '/users'}" th:text="#{wks.users}"></a>
                </div>
            </div>
        </div>
    </div>
</div>>
</html>
