name: Typo Reporter CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - '*'
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[CI SKIP]')"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 19
        uses: actions/setup-java@v1
        with:
          java-version: 19
      - name: Run unit tests
        run: make test-unit-only
      - name: Run integration tests
        run: make test-integration-only
